<div class="form-container">
  <form #temp="ngForm" (ngSubmit)="form_data(temp)">
    <div class="form-title">Registration Form</div>
    <div class="form-name column">
      <div class="first-name common-col">
        <input
          type="text"
          required
          #fname="ngModel"
          ngModel
          name="fname"
          placeholder="First Name"
        />
        <div *ngIf="fname.invalid && fname.touched" class="error-msg">
          *First Name is required
        </div>
      </div>
      <div class="last-name common-col">
        <input
          type="text"
          required
          #lname="ngModel"
          ngModel
          name="lname"
          placeholder="Last Name"
        />
        <div *ngIf="lname.invalid && lname.touched" class="error-msg">
          *Last Name is required
        </div>
      </div>
    </div>
    <div class="form-email">
      <input
        type="text"
        required
        ngModel
        #email="ngModel"
        name="email"
        placeholder="Email"
        pattern="[a-zA-z0-9]*(@gmail.com)"
        title="Email must end with @gmail.com"
      />
      <div *ngIf="email.invalid && email.touched" class="error-msg">
        *Email is required
      </div>
    </div>
    <div class="form-pd column">
      <div class="common-col">
        <input
          required
          type="text"
          ngModel
          #phone="ngModel"
          name="phone"
          placeholder="Phone Number"
        />
        <div class="error-msg" *ngIf="phone.invalid && phone.touched">
          *Contact Number is required
        </div>
      </div>
      <div class="common-col">
        <input required ngModel #dob="ngModel" name="dob" type="date" />
        <div class="error-msg" *ngIf="dob.invalid && dob.touched">
          *D.O.B. is required
        </div>
      </div>
    </div>
    <div class="column">
      <div class="username-input common-col">
        <input
          type="text"
          placeholder="Username"
          name="username" ngModel
        />
      </div>
      <div class="username-button common-col">
        <button
          type="button"
          (click)="generateUserName(temp)"
          [disabled]="!(fname.valid && lname.valid && email.valid && dob.valid)"
        >
          Create Username
        </button>
      </div>
    </div>
    <div class="form-gender">
      <label for="gender">Gender</label>
      <div class="form-radio-buttons" id="gender">
        <input
          required
          type="radio"
          ngModel
          #gender="ngModel"
          name="gender"
          value="Male"
          id="male"
        /><label for="male">Male</label>
        <input
          type="radio"
          ngModel
          name="gender"
          value="Female"
          id="female"
        /><label for="female">Female</label>
        <input
          type="radio"
          ngModel
          name="gender"
          value="prefer not to say"
          id="other"
        /><label for="other">Prefer not to say</label>
      </div>
    </div>
    <div
      class="form-address"
      [ngStyle]="{ border: 'none' }"
      ngModelGroup="address"
      #address="ngModelGroup"
    >
      <label for="address">Address</label>
      <div class="address-fields" id="address">
        <div class="street1">
          <input
            type="text"
            placeholder="Street address"
            name="street1"
            required
            ngModel
            #street1="ngModel"
          />
          <div class="error-msg" *ngIf="street1.invalid && street1.touched">
            *Street address is required
          </div>
        </div>
        <div class="street2">
          <input
            type="text"
            placeholder="Street address line 2"
            name="street2"
            ngModel
          />
        </div>
        <div class="country-city column">
          <div class="common-col">
            <select name="country" ngModel #country="ngModel" required>
              <option value="India">India</option>
              <option value="Bhutan">Bhutan</option>
              <option value="Nepal">Nepal</option>
            </select>
            <div class="error-msg" *ngIf="country.invalid && country.touched">
              *Country name is required
            </div>
          </div>
          <div class="common-col">
            <input
              type="text"
              name="city"
              ngModel
              #city="ngModel"
              placeholder="City"
              required
            />
            <div class="error-msg" *ngIf="city.invalid && city.touched">
              *City name is required
            </div>
          </div>
        </div>
        <div class="region-pin column">
          <div class="common-col">
            <input name="region" ngModel type="text" placeholder="Region" />
            <div class="error-msg" *ngIf="address.invalid && address.touched">
              *Address is not Valid
            </div>
          </div>
          <div class="common-col">
            <input
              name="pin"
              ngModel
              #pin="ngModel"
              type="text"
              placeholder="Postal Code"
              required
              minlength="6"
              maxlength="6"
            />
            <div class="error-msg" *ngIf="pin.invalid && pin.touched">
              *Postal Code is required
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-checkbox">
      <input ngModel name="checkbox" required type="checkbox" />I have read
      Terms and Conditions
    </div>
    <div>
      <button class="form-button" [disabled]="temp.invalid" type="submit">
        Submit
      </button>
    </div>
  </form>
</div>
<div class="card">
  <div class="card-container">
  <div class="short-name">{{firstname.charAt(0).toUpperCase()}}{{lastname.charAt(0).toUpperCase()}}</div>
  <div class="details">
    <div class="details-name">{{firstname|titlecase}} {{lastname|titlecase}}</div>
    <div class="details-line"></div>
    <div><b>Email:</b>{{gmail}}</div>
    <div><b>Username:</b>{{uname}}</div>
    <div><b>Date of birth:</b>{{date}}</div>
    <div>
      <div class="address"><b>Address</b></div>
      <div class="details-line"></div>
      <div class="address-details"><b>{{state}}. {{town}}. {{street}}. {{pinCode}}</b>
      </div>
    </div>
  </div>
  
</div>
</div>
